aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-kms==2.15.0
altgraph==0.17
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cos-python-sdk-v5==1.9.7
crcmod==1.7
cryptography==3.4.7
dicttoxml==1.7.4
future==0.18.2
idna==2.10
importlib-metadata==4.6.0
jmespath==0.10.0
oss2==2.14.0
pefile==2021.5.24
pycparser==2.20
pycryptodome==3.10.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.4.1
